select {
    text-align: center;
    color: #999999;
}

option {
    text-align: center;
    color: #000000;
}

.option__null {
    color: #999999;
}

textarea {
    height: 500px;
    width: 500px;
}

th,
td {
    border: 1px #000000 solid;
}

td {
    width: 50px;
}